@import url("https://use.typekit.net/wes7qed.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: nunito, sans-serif;
}


:root {
    --azul-fap: #385983;
    --destaque: #2569C1;
    --azul-escuro: #032A4A;
    --fundo: #F7F7F7;
}

.ciclos {
    background-color: #F7F7F7;
    display: flex;
    /*  display: inline-block;
    margin-left: auto;
    margin-right: auto;*/
    justify-content: center;
}

.ciclos a {
    display: inline-block;
    position: relative;
}

.num {
    display: inline-block;
    padding: 1%;
    text-align: center;
    border-right: 2px solid #032A4A;
    border-left: 2px solid #032A4A;
    /*   margin-left: auto;
    margin-right: auto;*/
}

.num a {
    border-bottom: 1px solid #032A4A;
}

.num ul li {
    border-bottom: 1px solid #032A4A;
    list-style: none;
}

.name {
    float: right;
    padding: 1%;
    text-align: center;
    border-right: 2px solid #032A4A;
    /* margin-left: auto;
    margin-right: auto;*/
}

.name a {
    border-bottom: 1px solid #032A4A;
}

.name ul li {
    list-style: none;
    border-bottom: 1px solid #032A4A;
}

.curso {
    display: inline-block;
    /*  float: right;*/
    padding: 1%;
    text-align: center;
    border-right: 2px solid #032A4A;
    /*   margin-left: auto;
    margin-right: auto;*/
}

.curso a {
    border-bottom: 1px solid #032A4A;
}

.curso ul li {
    list-style: none;
    border-bottom: 1px solid #032A4A;
}


.card {
    text-align: center;
    border-radius: 10px;
    background-color: #F7F7F7;
    width: 200px;
    height: 100%;
}

.card_ciclos {
    background-color: #385983;
    border: 1px solid #385983;
    color: #F7F7F7;
}


.botoe{
    justify-content: flex-end;
    display: flex;
    text-align: center;
}

.button{
    display: flex;
    width: auto;
    height: auto;
    padding: 8px;
    background-color: #2569C1;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    font-size: 15px;
    color: #F7F7F7;
    text-align: center;
    margin-right: 1%;
    margin-bottom: 1%;
    margin-top: 1%;
}

/*
@media screen and (max-width: 600px){
    .card{
        flex: 1 1 auto;
        flex-direction: column;
        display: flex;
        text-align: center;
        margin-top: 3%;
    }

    .card_orient{
        margin-top: 6%;
        margin-left: 0%;
    }

    .login_title {
        color: #385983;
        font-size: 25px;
        margin-top: 10%;
        margin-bottom: 10px;
        text-align: center;
    }
}*/